//
//
// mixins
//
//
@mixin mask-position($posX, $posY) {
    -webkit-mask-position: $posX $posY;
    mask-position: $posX $posY;
}

@mixin mask-size($sX, $sY) {
  mask-size: $sX $sY;
  -webkit-mask-size: $sX $sY;

}

@mixin cover-mask($url) {
  mask-image: url($url);
  mask-clip: border-box; /* Can be changed in the live sample */
  mask-repeat: no-repeat;

  -webkit-mask-image: url($url);
  -webkit-mask-clip: border-box; /* Can be changed in the live sample */
  -webkit-mask-repeat: no-repeat;

  @include mask-size(200%, 200%);
  @include mask-position(50%, 50%);
}


//
//
// archive index page
//
//
header.archive-page.whp-2017 {
  @include whp-2017-header;
  @include whp-2017-gradient-background;

  overflow: hidden;

  .projects-list {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    list-style-type: none;
    margin-left: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;

    color: lighten(grey, 20%);

    span:before {
      content: "  ->  "
    }
    a {
      color: lighten(grey, 20%);

      &:hover {
        color: $primary-color-2017;
        text-decoration: underline;
      }
    }

    li {
      display: inline-block;
    }
  }
}

article.archive-page.whp-2017 {
  max-width: 100%;

  padding-top: 2rem;
  background: linear-gradient(0deg, pink, lightblue 30%, white);
  overflow: hidden;

  // @include cover-mask("/images/dots-transparent-50opacity-2.svg");

  > ul {
    @extend .row;
    @extend .expanded;
    @extend .small-up-1;
    @extend .medium-up-2;
    @extend .large-up-3;

    list-style-type: none;

    margin-bottom: 0;
  }


  .project-card-box {
    // @extend .small-12;
    // @extend .medium-6;
    // @extend .large-4;
    @extend .column;
    @extend .column-block;
    // @extend .row;
    // @extend .expanded;
    // word-wrap: break-word;
    // word-break: break-word;

    // margin-bottom: 4rem;
    // &.no-filter {
    //   filter: unset !important;
    // }

    float: left !important;

    .project-card {
      margin: 0.5rem;
      padding: 0.5rem;
      border: 2px solid;

      position: relative;

      background-color: white;

      text-align: center;
    }

    .media-icons-container {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
    }

    .media-icons {
      padding: 0.2rem;
    }

    .has-video-icon,
    .has-audio-icon {
      mask-size: 2rem 2rem;
      height: 2rem;
      width: 2rem;

      float: right;

      margin-right: 0.2rem;

      &:first-of-type {
        margin-right: 0;
      }
    }

    .has-video-icon {
      mask-image: url(/images/has-video.svg);
    }

    .has-audio-icon {
      mask-image: url(/images/has-audio.svg);
    }

    .thumbnail {
      width: 100%;

      // height: 200px;
      // background-position: center;
      // background-size: cover;
      // @extend .small-12;
      // @extend .columns;

    }

    .project-title {
      text-align: center;
      margin-bottom: 0;
    }

    .project-author {
      text-align: center;
    }
  }


  a {
    color: $primary-color-2017;

    border-bottom: thin dashed rgb(0, 0, 255);

    &:hover {
      text-decoration: none;
      border-bottom: thin solid lighten(red, 10%);;

      color: lighten(red, 10%);
    }
  }
}

//
//
// one project
//
//
header.archive-project.whp-2017 {
  @include whp-2017-header;

  .header-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    height: 100%;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

  }
}


article.archive-project.whp-2017 {
  @extend .row;

  span.comment-author {
    margin-top: 0.3rem;
    display: inline-block;
  }

  margin-bottom: 2rem;

  .soundcloud-small-container {
    @include responsive-embed();
  }

  & > *:first-child {
    margin-top: 2rem;
  }

  p,
  ul,
  figure {
    @extend .small-12;
    @extend .large-6;
    @extend .large-offset-3;
    @extend .end;

    margin-top: 1rem;

    img.full-width {
      width: 100%;
    }

    // &:first-of-type {
    //   margin-top: 2rem;
    // }
  }

  ul {
    list-style: none;

    &:first-of-type {
      margin-top: 0;
    }


    li {
      margin-bottom: 0.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
