header.beginning.whp-2017 {
  nav.menu.whp-2017 {
    @include menu;
    z-index: 0;

    .menu-items {
      padding-top: 0;

      @include breakpoint(large) {
        padding-top: 6vw;
      }
    }

    .menu-items h1 {
      transform-origin: center;
      transform: rotateZ(34deg) rotateY(23deg);

      // font-size: 13vw;

      // @include breakpoint(medium) {
      //   transform: rotateY(56deg) rotateZ(10deg);
      //   font-size: 12vw;
      // }

      // @include breakpoint(730) {
      //   font-size: 10vw;
      // }

      // @include breakpoint(970) {
      //   font-size: 9vw;
      // }

      // @include breakpoint(1084) {
      //   font-size: 8vw;
      // }

      // @include breakpoint(1184) {
      //   font-size: 7vw;
      // }

      // @include breakpoint(1284) {
      //   font-size: 6vw;
      // }

      a {
        text-decoration: none;
      }
    }
  }

  .fb-page-link {
    @include fb-page-link;
  }
}
