$primary-color-2020: white;
$secondary-color-2020: #1f681f;

nav#menu-sign.whp-2020 {
  @include menu-sign($primary-color-2020, $secondary-color-2020);
}

.lang-switch.whp-2020 {
  @include lang-switch($primary-color-2020, $secondary-color-2020);
}

header.index-page.whph-2020 {
  @include whp-2017-header;
  @include project-list;

  // background: linear-gradient(180deg,#7fed98,#00b3f9, #c2c2c2);
  // background: linear-gradient(180deg,#7fed98,#00b3f9, white);
  background: linear-gradient(180deg,#ffc20c,#f95d00,white); 
  overflow: hidden;

  span {
    font-size: unset;
    text-transform: uppercase;
    line-height: 0.8;
    color: #93fed8;
  }

  h1 {
    color: #93fed8;
  }
}


section.index-page.teaser.whp-2020 {
  background: linear-gradient(180deg,#ffc20c,#f95d00,white); 

  min-height: 100%;
  height: 100%;

  h1 {
    font-size: 10vw;
    color: $primary-color-2020;
    text-align: center;
  }
}

