//
//
// colors
//
//
// $primary-color-2018: #aa0b9b;
// $secondary-color-2018: #fe6102;
$primary-color-2018: #330338;
$secondary-color-2018: #fc5a60;
$header-color-2018: #b3b0b0;
//
//
//
//

nav#menu-sign.whp-2018 {
  @include menu-sign($primary-color-2018, $secondary-color-2018);
}


.lang-switch.whp-2018 {
  @include lang-switch(darken(grey, 5%), $primary-color-2017);;
}

header.index-page.whp-2018 {
  background: linear-gradient(0deg,rgba(#ffb400, 0),#ffb400,#f517e1);

  h1 {
    color: $header-color-2018;
  }
}

section.whp-2018.index-page.description {
  p {
    color: $primary-color-2018;
  }

  a {
    color: $secondary-color-2018;

    &:hover {
      color: $primary-color-2018;
    }
  }

  @include with-parameters($primary-color-2018, $secondary-color-2018);

  .project-col.general-info {
    p {
      @extend .small-12;
      @extend .large-6;
      @extend .large-offset-3;
      @extend .columns;
      @extend .end;
    }

    &.first {
      margin-top: 2rem;
    }
  }

  .project-col .hline {
    color: $primary-color-2018;
  }

  .project p.descr span,
  .project p.descr.no-long span {
    color: $secondary-color-2018;
  }

  .project p.descr span {
    border-bottom: 1px dashed $primary-color-2018;
  }



  .participant-name {
    color: $primary-color-2018;
    margin-top: 0.5rem !important;

    // .name {
    //   color: $secondary-color-2018;
    // }
  }
}
