body {
  overflow: scroll;

  &.disabled-scroll {
    overflow: hidden;
  }

  // color: darken(blue, 10%);
}

nav#menu-sign.whp-2017 {
  @include menu-sign;
}

nav#menu.whp-2017 {
  @include menu;
}

header.index-page.whp-2017 {
  // @include lang-switch;
  @include whp-2017-header;
  @include whp-2017-gradient-background;
  z-index: 1;
}

section.whp-2017.index-page.description {
  @extend .row;
  @extend .expanded;
  position: relative;
  z-index: 0;

  .project-cover {
    -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    position: fixed;
    z-index: -2;
    top: -10%;
    left: -10%;
    bottom: -10%;
    right: -10%;
    // transform: perspective(1280px) rotate3d(-3,90,12,-34deg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0, center;

    @include breakpoint(large) {
      top: 5%;
      left: 5%;
      bottom: 5%;
      right: 5%;
    }

  }

  // span {
  //   background-color: white;
  // }

    a {
      text-transform: none;
      text-decoration: line-through;
      color: red;

      &:hover {
        color: $primary-color-2017;
      }
    }

  > p {
    @extend .small-12;
    @extend .large-6;
    @extend .large-offset-3;
    @extend .columns;
    // @extend .end;
    &.hidden-text {
      color: lighten(grey, 47%);
    }

    z-index: 99;
    position: relative
  }

  p.first-description-p {
    margin-top: 2rem;
  }

  p.day {
    @extend .small-12;
    @extend .large-6;
    @extend .large-offset-3;
    @extend .columns;
    margin-top: 1.5rem;
    margin-bottom: 0;

    span {
      background-color: white;
    }

    &.with-project-cover {
      span {
        background: none;
      }
    }
  }


  .project-col {
    @extend .small-12;
    @extend .columns;
    @extend .row;
    @extend .expanded;
    position: relative;


    .hline {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;

      &.with-project-cover {
        color: white;
      }
    }
  }

  .project {
    // @extend .small-12;
    // @extend .columns;
    @extend .row;
    @extend .expanded;


    p.time,
    p.place {
      @extend .small-12;
      @extend .large-2;
      @extend .large-offset-1;
      @extend .columns;

      text-align: left;

      @include breakpoint(large) {
        text-align: right;
      }
    }

    p.place {
      margin-top: 1rem;
    }

    p.place-comment {
      margin-top: 1rem;
      opacity: .4;
    }

    p.descr {
      @extend .small-12;
      @extend .large-6;
      @extend .columns;
      @extend .end;

      span {
        color: red;
        border-bottom: 1px dashed blue;
        cursor: pointer;
      }

      &.no-long {
        span {
          color: red;
          border-bottom: none;
        }
      }
    }

    p.long-descr,
    p.long-descr-pics {
      display: none;
      margin-top: -0.5rem;
    }

    p.long-descr {
      @extend .small-12;
      @extend .large-6;
      @extend .large-offset-3;
      @extend .columns;
      @extend .end;
    }

    p.long-descr-pics {
      @extend .small-12;
      // @extend .large-offset-3;
      @extend .large-3;
      @extend .columns;
      @extend .end;

    }
  }

  // p.place {
  //   @extend .end;
  // }

}
