section.whp-2018.index-page.description {
  p {
    color: #330338;
  }

  a {
    color: #fc5a60;
  }

  .project p.descr span,
  .project p.descr.no-long span {
    color: #fc5a60;
  }

  p a.parameter-name {
    text-decoration: none;
    color: #fc5a60;
    border-bottom: 1px dashed #fc5a60;
    cursor: pointer;

    &.active {
      text-decoration: line-through;
      border-bottom: none;
    }
  }

  p span.paramater-descr {
    display: inline-block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1em;
    border-left: #330338 7px solid;

    &.hidden {
      display: none;
    }
  }
}
