$primary-color-2020: #FCFAF2;
$secondary-color-2020: #1C1C1C;


@mixin invitation-styles {
  
  
  p.time {
    @extend .hide-for-small-only;
  }
  
  p strong {
    text-shadow: 2px 2px 10px aqua;      
    font-family: serif;
    font-weight: bold;
    font-style: italic;

    span.arrow {
      font-family: monospace;
      font-style: normal;
    }

    em {
      text-decoration: underline;
    }
  }

  p span.huge-text {
    font-size: 180%;
  }

  p span.flickering-term {
    .variant {
      display: none;

      text-decoration: underline;

      &.active {
        display: inline;
      }
    }
    
  }  
}


nav#menu-sign.whp-2020 {
  @include menu-sign($primary-color-2020, $secondary-color-2020);
}

.lang-switch.whp-2020 {
  @include lang-switch($primary-color-2020, $secondary-color-2020);
}

header.index-page.whph-2020 {
  @include whp-2017-header;
  @include project-list;

  // background: linear-gradient(180deg,#7fed98,#00b3f9, #c2c2c2);
  // background: linear-gradient(180deg,#7fed98,#00b3f9, white);
  background: linear-gradient(180deg,#33A6B8,#D75455,#D7C4BB); 
  overflow: hidden;

  span {
    font-size: unset;
    text-transform: uppercase;
    line-height: 0.8;
    color: $primary-color-2020;
  }

  h1 {
    color: $primary-color-2020;
  }
}


section.index-page.teaser.whp-2020 {
  background: linear-gradient(0deg,#33A6B8,#D75455,#D7C4BB); 

  min-height: 100%;
  height: 100%;

  h1 {
    font-size: 10vw;
    color: $primary-color-2020;
    text-align: center;
  }
}

section.index-page.description.whph-2020 {
  padding-bottom: 4rem;
  background: linear-gradient(#D7C4BB, #D75455, #33A6B8);

  @include breakpoint(medium) {
    background: linear-gradient(#D7C4BB, #D75455, #33A6B8);
  }

  @include breakpoint(large) {
    background: linear-gradient(#D7C4BB, #D75455, #33A6B8);
  }
}

article.archive-page.whph-2020.screenings {
  background: linear-gradient(180deg,#33A6B8,#D75455,#D7C4BB); 
}

header.archive-project.whph-2020.screening {
  background-color: #D7C4BB;
  
  h1 {
    // -webkit-mask-image: -webkit-gradient(linear,left bottom,left top,from(#000),to(rgba(0,0,0,0.4)));
    color: #D75455;

    a {
      color: #D75455;      
    }    
  }
}

article.archive-project.whph-2020.screening {
  background: linear-gradient(#D7C4BB, #D75455, #33A6B8);

  p {
    color: $primary-color-2020;
  }
}

.whph-2020 {
  .shiny {
    text-shadow: 5px 5px 10px aqua;      
  }

}


section.index-page.description.whph-2020,
section.index-page.teaser.whph-2020 {

  color: $primary-color-2020;

  p {
    color: $primary-color-2020;
    font-size: 120%;
  } 

  a {
    color: $secondary-color-2020;

    border-bottom: 1.6px dashed $primary-color-2020;

    text-decoration: none;    

    &:hover {
      color: $primary-color-2020;
    }
  }

  @include with-parameters($primary-color-2020, $secondary-color-2020);

  .project-col.general-info.first {
    margin-top: 6rem;
  }


  //
  //
  // schedule
  //
  //
  p.day {
    color: $secondary-color-2020;

    span {
      background-color: $primary-color-2020;
    }
  }

  .project p.descr span,
  .project p.descr.no-long span {
    color: $secondary-color-2020;
  }

  .project-col .hline {
    color: $primary-color-2020;
  }

  .participant-name .name {
    background-color: $primary-color-2020;
    color: $secondary-color-2020;
  }

  .participant-name .hor-line {
    color: $primary-color-2020;
  }
  
  .project-col p.descr span {
    border-bottom: 1.6px dashed $primary-color-2020;
  }

  .project-col .project[data-project="infrastructure"] p.descr span:before {
    display: none;
  }

  .descr.day-comment {
    opacity: 1;
  }

  .descr.place-comment.important-description {
    opacity: 1;
  }

  // .project {
  //   .long-descr,
  //   .participant-bio {
  //     text-shadow: 2px 2px $secondary-color-2019;
  //   }
  // }

  .project.invitation-letter {
    .descr {
      text-align: center;
    }

    p.descr span {
      &:first-of-type {
        &:before {
          content: "💌 "
        }      
      }
    }    

    @include invitation-styles;
  }

  &.invitation {

    .project-col p.descr span {
      &:first-of-type {
        &:before {
          content: "💌 "
        }      
      }
    }
    
    .project-col p.descr {
      text-align: center;
    }

    @include invitation-styles;
  }

  &.instructions {    
    .descr span.author {
      color: $primary-color-2020;      
    }

    .long-descr {
      p.duration,
      p.performerNeeds,
      p.placeAndTime {
        em {
          @extend .shiny
        }
      }
    }

    figure {
      margin-bottom: 1rem;      
    }
  }
}





