meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
meta name="viewport" content="width=device-width, initial-scale=1"

meta property="og:title" content="$title$"

= _if "projectCover"
  meta property="og:image" content="$projectCover$"
= _else
  meta property="og:image" content="/images/whp-cover.jpg"
= _endif


title
  | $title$

//
// favicons
//
link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16"
link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32"
link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96"
link rel="apple-touch-icon" href="/images/favicon-120x120.png"
link rel="apple-touch-icon" sizes="180x180" href="/images/favicon-180x180.png"
link rel="apple-touch-icon" sizes="152x152" href="/images/favicon-152x152.png"
link rel="apple-touch-icon" sizes="167x167" href="/images/favicon-167x167.png"
link href="/css/app.css?$revision$" rel="stylesheet" type="text/css"

script type="text/javascript" src="/js/vendor/jquery.js"
script type="text/javascript" src="/js/vendor/jquery.mobile.custom.min.js"
script type="text/javascript" src="/js/vendor/modernizr.js"
script type="text/javascript" src="/js/vendor/mobile-detect.min.js"
script type="text/javascript" src="/js/vendor/mobile-detect-modernizr.js"
script type="text/javascript" src="/js/vendor/what-input.js"
script type="text/javascript" src="/js/vendor/foundation.min.js"
script type="text/javascript" src="/js/vendor/lodash.min.js"
script type="text/javascript" src="/js/vendor/d3-queue.js"
script type="text/javascript" src="/js/vendor/scroll.min.js"
script type="text/javascript" src="/js/app.js?$revision$"
