css:
  .header-cover {
    background-image: linear-gradient(0deg, rgba(51, 166, 184,0), rgba(51, 166, 184,0.6)), url(/images/underwater-cover.jpg);
    background-size: contain, cover;
    background-position: left top, center center;
  }
header.archive-project.whp-2017.whph-2020.screening
  .header-cover
  h1
    | underwater
    | &nbsp;->&nbsp;
    | $ownerPreferredName$

section.whph-2020.screening.underwater
  article.archive-project.whp-2017.whph-2020.screening.underwater
    = _if("ownerIsLangRu")
      markdown:
        # Поддерживающий документ  подводного слота
        Работай Больше! Отдыхай Больше! тест тест тест

        ## Предыстория

        Дорогой/ая [\$ownerPreferredName\$]{.shiny},

        Мы очень рады, что вы решили провести это время вместе, наводнившись неожиданными связями и мерцающим со-присутствием.

        Итак, вы стали частью ежегодного события Работай Больше! Отдыхай Больше!

        оно является самоорганизованным, происходящее в котором зависит от тех, кто в нем участвует. В этом году РБОБ проходит в пятый раз. Обычно все живут на вписках у друзей друзей, события происходят на различных дружественных площадках, на улицах города, в неожиданных секретных местах. Все как правило совместно перемещаются по Минску, после чего проводят время в санатории, проживая там или приезжая посетить мероприятия. В этом году пандемия деформировала календари и пространства, закрыла границы, но рабочая группа решила все же провести событие, синтезируя возможности новых связей дистанционно и распределенно.

        подводный сло т- это попытка проявить синтез аффекта, сделать из нас соучастниц и соучастников чувственного приключения, плавающие в вычислительных водах тела, распределенный кооператив поддержки.

        Предлагаемые роли тематизируют пространство между происходящими событиями в сетке расписания. Они случаются где-то между строк, когда вы скользите взглядом по [цветной заливке сайта](http://workhardplay.pw/). Они являются скрытым двигателем событийности, той хрупкой инфраструктурой, которая покалывает кожу горячими струйками ﻩﻩﻩ

        Никому не рассказывайте про свою  подводную роль/практику заботы/миссию  ни сейчас, ни в процессе недели РБОБ.

        Насколько вы захотите вжиться/вписаться/погрузиться – зависит только от вас. Какой опыт у вас случится – зависит полностью от вашей готовности вовлекаться, действовать, отзываться.

        Приготовьтесь к погружение в интимную инфраструктуру РБОБ, в  ПОДВОДНЫЕ  РОЛИ  ПРАКТИКИ ЗАБОТЫ  МИССИИ , которые будут сопровождать нас одну неделю


        Приятного заплыва! ➟   ➟   ➟ ➟   ➟   ➟ ➟   ➟   ➟

        ## Особенности игры

        Эта игра – смесь художественных и геймерских техник, письменных ларпов, онлайн ролевых игр и свободного плавания участниц и участников.

        Особенностью этих техник является небольшое присутствие правил, большая свобода действия игроков и открытый финал. Только вам известно, куда вас может завести игра (иногда, даже вы не можете этого предугадать). В этой игре нет зрителей – все становятся непосредственными ее участниками.


        ## Ваша подводная роль / практика заботы / миссия

        Итак, вы уже определили роль или роли, на которые вы заявлялись и смогли немного разработать их в процессе заполнения формы   подводного слота.

        Перед игрой мы просим вас уделить 30 минут на раскрепощение своего персонажа, будь то «вы сами» или вы со смещенной идентичностью, ваша подводная сущность.

        Чтобы это сделать, возьмите листочек бумаги и напишите-нарисуйте-обживите ответы на следующие вопросы. Вы можете выходить за пределы этих вопросов, если вам покажется, что ваш персонаж этого требует. Крутите вертите своей идентичностьюﻩﻩﻩﻩﻩﻩﻩﻩﻩ ﻩﻩﻩ

        ## ВОПРОСЫ ДЛЯ САМОСТОЯТЕЛЬНОЙ РАЗРАБОТКИ ВАШЕЙ РОЛИ:

        Начните проработку вашей роли с воспоминания о том, в какой воде вам нравится оказаться – в холодной, горячей, в бурлящей, в ледяной? А вашей подводной сущности?

        Далее отвечайте на вопросы как ваш персонаж:

        Как вы обычно себя чувствуете в группах людей? Вам комфортно находиться физически рядом с другими людьми? А виртуально?

        Вам часто требуется рядом поддержка, чтобы общаться, или вы сами порой оказываете такую поддержку близким вам людям?

        Какого рода поддержку вы могли бы оказать другому человеку, который в вас нуждается?

        Вы любите быстро печатать на клавиатуре?

        Как вы относитесь к виртуальным инструментам общения? Вы смогли их подчинить себе? Если нет, что или кто вам мешает?

        Ваша подводная сущность уже посещала РБОБ ранее? Если да, вспомните, что для вас было самым ценным опытом там. Если нет, вы бы хотели поехать в следующем году? Какой опыт вы хотите там найти?

        Где вы проснулись этим утром?

        Что вы чувствуете по отношению к каждому/каждой из ваших подводных партнеров? Почему вы в нем/ней/них нуждаетесь?

        ## Ваши подводные партнер_ки по игре

        ### [\$partnerOnePreferredName\$]{.shiny-magenta}

        **Если вы станете близки, вы можете называть ее/его/их:** [\$partnerOneNameForClosedCircle\$]{.shiny}

        **Вы знаете, что когда-то утром он/она:** [\$partnerOneMorning\$]{.shiny}

        **Ваш\_а партнер\_ка нуждается в вас, он/она/они хотели бы:** [\$partnerOneWhatDoYouWantFromPartner\$]{.shiny}

        **От включенности в эту игру он/она/они ожидают:** [\$partnerOneExpectationsFromUnderwater\$]{.shiny}

        ### [\$partnerTwoPreferredName\$]{.shiny-magenta}

        **Если вы станете близки, вы можете называть ее/его/их:** [\$partnerTwoNameForClosedCircle\$]{.shiny}

        **Вы знаете, что когда-то утром он/она:** [\$partnerTwoMorning\$]{.shiny}

        **Ваш\_а партнер\_ка нуждается в вас, он/она/они хотели бы:** [\$partnerTwoWhatDoYouWantFromPartner\$]{.shiny}

        **От включенности в эту игру он/она/они ожидают:** [\$partnerTwoExpectationsFromUnderwater\$]{.shiny}

        Помните, ваши партнер\_ки нуждаются в вас также, как и вы в кажд\_ой из них

        ## Интимная инфраструктура вашего общения

        Началом для вашей связи будет телеграмм (или почта). Вот контакты ваших водных партнеров(ок):

        **[\$partnerOnePreferredName\$]{.shiny-magenta}** [\$partnerOneTelegram\$]{.shiny}

        **[\$partnerTwoPreferredName\$]{.shiny-magenta}** [\$partnerTwoTelegram\$]{.shiny}

        Ваша связь с каждой/ым партнеркой/ом неповторима и индивидуальна. Не смешивайте эти связи, предоставьте им развиваться отдельно друг от друга, так как потребности в общении и внимании у всех разные и каждому вашему партнеру/ке необходим персональный подход.

        Свяжитесь с каждой/ым из них индивидуально в **СРЕДУ 24** июня Как только вы свяжитесь – игра начнется

        Дальше вы можете решить, как вам продолжать общение, в телеграмме или как-то ещё, обмениваться сообщениями, видео-звонками, голосовым-каналом **[you-and-me]{.shiny}** на [сервере РБОБ в Discord](https://discord.com/invite/n5JBf8x){.shiny} (для этого вам может понадобится [Инструкция, как пользоваться чатом](https://docs.google.com/document/d/1JWWFkfLWx5aC7nvyqv7I769TmERFfzAkZr5Iezslt_c/edit?usp=sharing)). Может быть вы захотите вместе пройти одну из [инструкций](http://workhardplay.pw/ru/2020/instructions.html), синхронно [посмотреть видео-работу](http://workhardplay.pw/ru/2020/screenings.html), или для вас это может стать дружеским общением, когда можно обсудить что-угодно и поделиться своими секретами.

        Вы также можете воспользоваться опцией отправить подарок вашему партнеру/ вашей партнерке по почте:

        **[\$partnerOnePreferredName\$]{.shiny-magenta}** [\$partnerOneAddress\$]{.shiny}

        **[\$partnerTwoPreferredName\$]{.shiny-magenta}** [\$partnerTwoAddress\$]{.shiny}

        Также вы усиливаете вашу связь с вашим партнером\_кой и можете передавать ему/ей сообщения посредством намёков, публикуя что-то в коллективном инстаграмме. К примеру, вы рассказывали про то, как вы провели это утро и чуть позже можете запостить фотографию вашего утреннего стола или окружения. Это может стать вашей приватной игрой в коллективном теле инстаграма.

        Вы также можете использовать инстаграм для документации вашего общения – запостив скриншот видео-звонка или скриншот присланной вам песни на ночь. Все участники игры хотели бы быть причастными к вашей связи и хотели бы синхронизироваться с вашими аффектами

        логин от инстаграма: workhard.playhard.minsk (или work.hard.play.0@gmail.com)

        пароль: summer2027MIX~

        [https://www.instagram.com/workhard.playhard.minsk/](https://www.instagram.com/workhard.playhard.minsk/)

        Пожалуйста, пишите нам, если у вас возникнут технические сложности

        ## Условие игры

        Главное условие подводного слота — это добровольность и ненасилие. Кажд\_ая участни\_ца может выйти в любой момент из игры, если ему или ей вдруг станет дискомфортно. Пожалуйста, сообщите нам, если вы столкнетесь с неприемлимым поведением.

        Если в процессе плаванья у вас возникнут какие-либо вопросы, пишите нам на почту с пометкой _подводный слот_ [work.hard.play.0@gmail.com](mailto:work.hard.play.0@gmail.com)

        ПРИЯТНОГО ПОДВОДНОГО ТЕЧЕНИЯ! ПОЗВОЛЬТЕ СЕБЕ ОКУНУТЬСЯ В НЕГО С ГОЛОВОЙ
    = _endif
    = _if("ownerIsLangEn")
      markdown:
        # Supporting document for underwater slot

        Work Hard! Play Hard! test test test


        ## Background

        Dear [\$ownerPreferredName\$]{.shiny},

        We are very glad that you decided to spend this time together, flooded with unexpected nets and a flickering co-presence.

        So, you have become part of the annual Work Hard! Play Hard! event it is self-organized and what happens inside of the week depends on those who participate in it. This year, WHPH is being held for the fifth time. Usually, everyone stays at friends' apartments, events take place in various friendly venues, on the streets of the city, in unexpected secret places. As a rule, everyone moves together in Minsk, after that they spend time in a sanatorium, living there or coming to attend events. This year, the pandemic deformed calendars and spaces, closed borders, but the working group decided to hold an event, synthesizing the possibilities of new connections remotely and distributed.

        an underwater slot  is an attempt to  to reveal the synthesis of affect, to make sensual adventure accomplices out of us, floating in the computational waters, a distributed care cooperative.

        Proposed roles thematise the space between events in the schedule grid. They happen somewhere between the lines when you glance at [the color fill of the website](http://workhardplay.pw/en/2020/index.html). They are a hidden engine of events, the fragile infrastructure that tingles the skin with hot sprays

        Do not tell anyone about your  role  practice of caring  mission  underwater character neither now nor during the week.

        How much you want to get it alive / activate / fit in / dive is up to you. What experience you have will depend entirely on your willingness to get involved, act, respond.

        Get ready to dive into the intimate infrastructure of WHPH, into  UNDERWATER  ROLES  CARE PRACTICES  MISSIONS , which will accompany us for one week

        Have a nice swim! ➟   ➟   ➟ ➟   ➟   ➟ ➟   ➟   ➟

        ## Game features

        This game is a mixture of art and gaming techniques, written larps, online role-playing games and freewheeling of participants.

        A feature of these techniques is a small presence of rules, greater freedom of action of the players and an open finale. Only you know where the game can lead you (sometimes, even you cannot predict this ). There are no spectators in this game – everyone becomes its direct participants.


        ## Your underwater role / practice of care / mission

        So, you have already identified the role or roles that you claimed and were able to develop them a bit in the process of filling out the form underwater slot.

        Before the game, we ask you to take 30 minutes to work on your character, whether it’s "you yourself" or you with a shifted identity, your underwater creature.

        To do this, you can take a piece of paper and write-draw-render-make-alive the answers to the following questions. You can also go beyond and add the questions if it seems to you that your character requires it. Fiddle with your identity

        ## QUESTIONS FOR WORKING INDIVIDUALLY ON YOUR CHARACTER:

        Start exploring your role with a memory of what water you like to be in – cold, hot, whitewater, icy? And what about your underwater entity?

        Next continue answering the questions as your character:

        How do you usually feel in groups of people? Are you comfortable being physically close to other people? And virtually?

        Do you often need support nearby to communicate, or do you yourself at times provide such support to people close to you?

        What kind of support could you give to another person who needs you?

        Do you like typing fast on your keyboard?

        How do you feel about virtual communication tools? Did you manage to collar them? If not, what or who is stopping you?

        Has your underwater creature already visited WHPH before? If so, remember what was the most valuable experience for you there. If not, would you like to go next year? What experience do you want to find there?

        Where did you wake up this morning?

        How do you feel about your underwater partners? Why do you need her/him/them?

        ## Your game partners

        ### [\$partnerOnePreferredName\$]{.shiny-magenta}

        **If you get close, you can call her / him / them:** [\$partnerOneNameForClosedCircle\$]{.shiny}

        **You know that one morning he/she/they:** [\$partnerOneMorning\$]{.shiny}

        **Your partner needs you, she/he/they would like to:** [\$partnerOneWhatDoYouWantFromPartner\$]{.shiny}

        **From being involved in this game he/she/they expect(s):** [\$partnerOneExpectationsFromUnderwater\$]{.shiny}


        ### [\$partnerTwoPreferredName\$]{.shiny-magenta}

        **If you get close, you can call her / him / them:** [\$partnerTwoNameForClosedCircle\$]{.shiny}

        **You know that one morning he/she/they:** [\$partnerTwoMorning\$]{.shiny}

        **Your partner needs you, she/he/they would like to:** [\$partnerTwoWhatDoYouWantFromPartner\$]{.shiny}

        **From being involved in this game he/she/they expect(s):** [\$partnerTwoExpectationsFromUnderwater\$]{.shiny}

        Remember, your partners need you as much as you need them

        ## Intimate infrastructure of your communication

        The beginning for your communication will be telegrams. ere are the contacts of your water partners:

        **[\$partnerOnePreferredName\$]{.shiny-magenta}** [\$partnerOneTelegram\$]{.shiny}

        **[\$partnerTwoPreferredName\$]{.shiny-magenta}** [\$partnerTwoTelegram\$]{.shiny}

        Your connection with each partner is unique and individual. Do not mix these connections, let them develop separately from each other, since everyone needs different communication, attention & lines of thought and each of your partners needs a personal approach.

        You can contact them individually on **WEDNESDAY June 24**. As soon as you contact, the game will begin

        Then you can decide how to continue your communication, in a telegram or somewhere else, exchange messages, video calls, [you-and-me]{.shiny} [voice channel in Discord](https://discord.com/invite/n5JBf8x){.shiny} (for that you might need [Instruction how to use it](https://docs.google.com/document/d/1mY2nBkpYQM9JLpISi-L6JJW02TYJaexmDyBCxR21w7U/edit?usp=sharing)). Maybe you want to go through one of the [instructions](http://workhardplay.pw/en/2020/instructions.html) together, watch [a video work](http://workhardplay.pw/en/2020/screenings.html) synchronously, or for you it will become a friendly conversation where you can discuss anything and share your secrets.

        You can also use the option to send a gift to your partner by mail:

        **[\$partnerOnePreferredName\$]{.shiny-magenta}** [\$partnerOneAddress\$]{.shiny}

        **[\$partnerTwoPreferredName\$]{.shiny-magenta}** [\$partnerTwoAddress\$]{.shiny}

        You also strengthen your connection with your partner and can send him / her / them messages through hints, posting something in a collective instagram. For example, you talked about how you spent this morning and a little later you can post a photo of your morning table or surroundings. This can be your private game in the collective body of Instagram.

        You can also use instagram to document your communication – post a screenshot of a video call or a screenshot of a song sent to you for the night. All game participants would like to be involved in your connection and would like to synchronize with your affects

        login: workhard.playhard.minsk (or work.hard.play.0@gmail.com)

        password: summer2027MIX~

        [https://www.instagram.com/workhard.playhard.minsk/](https://www.instagram.com/workhard.playhard.minsk/)

        Please email us if you have any technical difficulties

        ## Game condition

        The main condition  of the underwater slot  is voluntary participation/involvement, non-violence and harassment-free. Each participant can exit the game at any time if he or she or they suddenly is/are uncomfortable. Please, let us know, if you encounter any inappropriate behaviour.

        If in the process of swimming you have any questions, please write to us in the mail marked _underwater slot_ [work.hard.play.0@gmail.com](mailto:work.hard.play.0@gmail.com)

        GOOD UNDERWATER FLOW! ALLOW YOURSELF DIPPING IN IT WITH HEAD
    = _endif
    figure
      img src="/images/underwater-cover.jpg"
